<section id="contact">
    <div class="container mb-5">
        <h2><strong >Contact Me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row"  data-aos="fade-up"
             data-aos-anchor-placement="top-center">
            <div class="col-md-3 col-lg-3">
                <div class="contact-info">
                    <img src="assets/images/contact-image.png" alt="image" />

                </div>
            </div>
            <div class="col-md-9">
                    <p>+91 - 9739147248</p>
                <p>{{"mahendracse.m@gmail.com"}}</p>
            </div>
        </div>
    </div>
</section>