<section id="about">
    <div class="container">
        <h2><strong>About Me...</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/mahendrakumarmanchi/" rel="tooltip"
                       target="_blank" title="Follow me on Linkedin">
                        LinkedIn
                    </a>
<!--                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"-->
<!--                       href="https://github.com/zinedineBenkhider" rel="tooltip" target="_blank"-->
<!--                       title="Follow me on GitHub">-->
<!--                        <i class="fa fa-github fa-lg "></i></a>-->
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Technical Lead - Full Stack</h3>
                <p class="font-italic">
                    I am passionate about learning new skills and exploring new challenges in the field of web development. I am always interested in working on projects that involve cloud computing, especially using AWS services such as EC2, S3, Lambda, and Cloudfront. I enjoy collaborating with other developers and stakeholders, and contributing to the continuous improvement of our products and processes. My goal is to create web applications that are scalable, secure, and accessible, and that provide a great user experience.
                    <br>I leverage my expertise in Angular, Nodejs, NestJs, ReactJS, Python, and PHP to create responsive and interactive web applications that meet the needs and expectations of our clients. I have over 15 years of experience in frontend engineering, working with various technologies and frameworks to deliver high-quality and user-friendly solutions.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Bengaluru, Karnataka, India</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Home</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:mahendracse.m@gmail.com">
                                {{ "mahendracse.m@gmail.com" }}</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 39 years</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Bachelors In Technology</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Computer Science</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.
                </p>
            </div>
        </div>
    </div>
</section>